[2014-07-15 13:13] armoucar opened #2 "Feed RSS"

[2014-07-15 21:26] jaydson opened #3 "i18n flags"
We need better and nicer flags, or at least, something that doesn't seems like the nineties, as well pointed here: https://twitter.com/mdottavio/status/488758257612521472

[2014-07-16 03:55] #2 closed, assigned to nobody

[2014-07-16 14:01] #3 closed, assigned to nobody

[2014-07-21 18:51] mattdsteele opened #4 "RSS feed uses awesome.com domain, 404s"
See links in http://es6rocks.com/rss.xml

[2014-10-07 02:40] cirocosta opened #5 "Update posts w/ videos from confs"
Hey!

my 2 cents: http://es6rocks.com/2014/10/ecmascript-6-a-better-javascript-for-the-ambient-computing-era/ could have https://www.youtube.com/watch?v=ZGY8Cktn6W4 added, and also http://es6rocks.com/2014/10/what-is-next-for-javascript/ with https://www.youtube.com/watch?v=G21rdWfa_as (a talk)

Great initiative guys :+1: :+1:

[2014-10-12 19:41] UltCombo opened #6 "Rename/move harmonic.js file in order to not conflict with Windows CLI `harmonic` command"
When I `cd` into the es6rocks.github.io repository root and try to run any `harmonic` command (e.g. `harmonic run`), it opens the `harmonic.js` file instead. This is because files in the current directory take precedence over the ones in the PATH variable.

Here is the output from the `where` command (similar to Unix's `which` command):

[code]

Of course, I can still use the absolute path to the

[2014-10-12 19:52] #6 closed, assigned to nobody

[2014-10-12 20:58] UltCombo opened #7 "Inline <code> styling"
Right now, inline `<code>` elements have no style.
## Test case

Write some markdown with inline code, e.g.:

[code]

The code above is rendered to the following HTML:

[code]

However, the inline code element has no styling whatsoever. I've seen some articles that are using italic styling or even double quotes around code, when inline code elements would be far better. Can we add styling to inlin

[2014-10-13 01:25] #4 closed, assigned to nobody

[2014-10-13 05:53] #7 closed, assigned to nobody

[2014-10-13 06:04] #5 closed, assigned to nobody

[2014-11-05 18:09] UltCombo opened #17 "Update contributing guide removing the master PR part"
See https://github.com/es6rocks/es6rocks.github.io/pull/16#issuecomment-61844231

[2014-11-05 21:57] #17 closed, assigned to nobody

[2014-11-05 22:54] UltCombo opened #18 "Add flag-cn.svg"
We need a Chinese flag in svg format to add to `src/templates/default/resources/images/flag-cn.svg` in the `src` branch.

[2014-11-07 12:13] liningone opened #23 "About Arrow Function"
Hi ,guy, i find a problem when i'm read the article ：
http://es6rocks.com/2014/10/arrow-functions-and-their-scope/

The article say that google chrome support ES6 Arrow Function. so i test arrow function in chrome(v38), chrome can't handle it ....

[2014-11-07 12:21] #23 closed, assigned to nobody

[2014-11-07 17:42] UltCombo opened #24 "Small inaccuracy in the Arrow functions article's example"
See https://github.com/es6rocks/es6rocks.github.io/commit/d71ae1e6a9ffe588153067234667fc7eacd747c5#commitcomment-8237436

We should either replace `BodyElement` with `WindowObject` or replace the whole example with a more useful one.

//cc @felipenmoura

[2014-11-10 16:52] UltCombo opened #26 "Add translator metadata to posts"
I believe translators deserve some credit, and this [PR](https://github.com/es6rocks/es6rocks.github.io/pull/25/files#diff-0297d60ec0e21354dae3f7499807e6b0R14) gave me the idea of supporting `translator` fields in the posts metadata.

Perhaps we can add not only the `translator` name, but a `translatorLink` and `translatorPicture` as well too. I believe the hardest part will be editing the templat

[2014-12-03 03:25] UltCombo opened #29 "Syntax highlighting not working for languages other JavaScript"
See for example [What you need to know about block scope - let](http://es6rocks.com/2014/08/what-you-need-to-know-about-block-scope-let/)'s Python example.
Syntax-highlight is failing for fenced code blocks whose language is not JavaScript. In my initial tests, ```javascript works, but everything else fails: ```js, ```shell, ```python.

[2014-12-03 03:37] UltCombo opened #30 "Update og:description"
Currently the og:description meta tag reads "Articles and News about ECMA6: Harmony".

Thing is, "ECMA6" looks a bit erroneous. From my view, ECMA&lt;number> reads as the number of a standard published by [Ecma International](http://www.ecma-international.org/). In this sense, ECMAScript would be [ECMA-262](http://www.ecma-international.org/publications/standards/Ecma-262.htm). Of course, very few

[2014-12-03 03:40] #29 closed, assigned to nobody

[2014-12-03 11:44] UltCombo opened #31 ""Other posts" should be dynamic"
Can we somehow make the post page's [Other posts](https://github.com/es6rocks/es6rocks.github.io/blob/c7bb1432313f17f78199f183152446ce36dffe2e/src/templates/2.0/post.html#L91-L209) section dynamic? Perhaps select some recent posts, and/or posts with same/similar tags, or some chronological order.

[2014-12-03 22:43] UltCombo opened #32 "Links in the index listing's abstracts are the same color as the background"

[2014-12-03 23:52] UltCombo opened #33 "Post abstracts"
When I generate a new build, it looks like `post.content` is empty/undefined in the [index](https://github.com/es6rocks/es6rocks.github.io/blob/582c87f85bc1eabd9053bbb8354bc5e5b6808e52/src/templates/2.0/index.html#L63) and Harmonic's [RSS](https://github.com/es6rocks/harmonic/blob/1a6aa8ff7e96f78e4bbd3e496fc3f0d9d93b1420/src/bin/resources/rss.xml#L16) templates.

[2014-12-04 01:18] #33 closed, assigned to nobody

[2014-12-09 00:51] jaydson opened #37 "Yellow links cannot be seen"
The yellow links cannot be seen because cards have a yellow background.

[2014-12-09 00:54] jaydson opened #38 "Facebook meta tags"
Define a default image and text for sharing posts on Facebook.

[2014-12-09 00:59] jaydson opened #39 "Better Twitter share"
When sharing on Twitter, only the URL appear in the Twitter pop-up.
We can put the post title, hashtag "#es6" and "via @esrocks"

[2014-12-09 01:04] #32 closed, assigned to nobody

[2014-12-13 19:14] #37 closed, assigned to robsongajunior

[2014-12-24 00:41] UltCombo opened #44 "Template: overlapping categories and description text"
![](http://i.imgur.com/nUrcasD.png)

[2014-12-24 02:33] robsongajunior opened #45 "IE compatibility"
What IE version we need support?
I opened on IE9 and the stylesheet needs some corrections.

cc/ @jaydson @UltCombo @felipenmoura

[2015-01-04 02:33] jaydson commented on #45
IE11+ and Spartan 1+
:p

[2015-01-14 12:24] hacke2 opened #46 "what!!!"
The article is not updated?

[2015-01-14 16:00] UltCombo commented on #46
Looks like this slipped under my radar, my bad.

We were supposed to launch the Chinese version upon fixing #18, but we've been busy and had quite a few high priority issues to tackle so we ended up forgetting about that specific issue.

Feel free to send a PR to add a Chinese flag, and/or continue the discussion in #18. I'll lock this issue to not split the discussion in two threads.

[2015-01-14 16:00] #46 closed

[2015-01-18 18:00] UltCombo commented on #18
Since the new layout was implemented, the flags are no longer svg, but rather [png sprites](https://github.com/es6rocks/es6rocks.github.io/blob/src/src/templates/2.0/resources/img/icons.png).

@jaydson shouldn't these sprites be generated automatically? Or just edited manually?

[2015-01-18 18:11] UltCombo commented on #18
Also, the Brazilian flag looks faded (the png sprite has like 50% opacity) while the English flag is fully opaque. We should fix this as well.

[2015-01-18 22:21] UltCombo commented on #18
So, basically, we need a 24x15 px black and white Chinese flag in png format.
It doesn't seem easy to have 5 stars inside a 24x15 px image while keeping the flag aspect ratio.
Does anyone know someone who can handle this? Maybe a pixel art artist?

@jaydson perhaps we could drop the flags' black and white filter? That would make things easier I believe.

On another topic, @hacke2 how do write "Rea

[2015-01-19 01:18] hacke2 commented on #18
@UltCombo “使用中文阅读”

[2015-01-19 01:22] UltCombo commented on #18
@hacke2 thanks!

Now we are only missing the flag. Then we should be able launch the Chinese version, right @jaydson ?

[2015-01-19 09:49] atilafassina commented on #18
@UltCombo just seen all the rest of this thread now, sorry!
I thought that with the new layout this issue would be pointless, so I didn't worry.

Even now the icons for the flags are not those svg ones we had before.
Maybe Italo would be able to help with new flags.

If not, we can get it from from [the noun project](http://thenounproject.com/).
But then I think we would have to change the png one

[2015-01-19 11:56] UltCombo commented on #18
@atilafassina no problem. :smile:
The noun project flags look good to me. Up to you to decide what's better. `;)`

[2015-01-31 20:08] UltCombo opened #49 "Future and branding"
So, with ECMAScript edition 6 being renamed to ECMAScript 2015, some questions naturally arise:

- Should this affect the ES6 Rocks branding?
- And what about future ECMAScript versions?

First off, let's settle the scope of the project. I believe once ES7/2016 is released, we will still be covering the bleeding edge ECMAScript features instead of being stuck to ES6, right? This means certain part

[2015-02-01 03:35] jaydson commented on #49
I already had thought about it when the name thing came out.
I was thinking about a new site called [ecma.rocks](ecma.rocks), but the domain is already taken.
Maybe we can go forward with [ecmarocks.com](ecmarocks.com) or something like that.
Thanks for pointing this out @UltCombo, let's use this thread to define the project future.

[2015-02-01 03:48] UltCombo commented on #49
Nice idea. Only problem is that "ecma" sounds like a contagious skin disease imo (sorry Ecma International).

[2015-02-01 21:13] atilafassina commented on #49
Arriving late at the discussion...
If the brand is going to be revitalised, I agree it should be version-agnostic.
Although, I agree with @UltCombo, the ECMA isn't very nice to the ears.

I think the new brand should relate directly with "**javascript**". After all, that's what it's all about.
I tried some domain combinations at GoDaddy, and the best one I found (and I actually think it's a good o

[2015-02-01 21:18] atilafassina commented on #18
sorry taking so long to answer, @UltCombo

But I think @italowaxman should have a saying here.
So we put one in accordance to the others and what he had in mind while drawing.

[2015-02-01 21:31] UltCombo commented on #49
I tried some domain combinations at GoDaddy, and the best one I found (and I actually think it's a good one is **jsrocks.today**. Offers the "current" vibe we're going for, keeps the "rock" mood and resitrict/expand the scope of the blog to anything related to JS.

Nice! :+1:

The ".today" TLD is perfect for a blog about the current and latest JS trends, sounds perfect for the site. :smile:

[2015-02-01 21:36] UltCombo commented on #18
No problem, @atilafassina. This is an open source project so you shouldn't feel forced, please contribute at your own pace without guilt. :wink:

Still, I'd like to give this a high priority so that we can finally release the Chinese version of ES6Rocks.com with all of @hacke2's translation work.

[2015-02-02 12:52] italowaxman commented on #18
@UltCombo you need a chinese SVG flag to incorporate a chinese translate at project, right? I designed the layout but the front-end isn't mine. Another thing too, I'm really into redo all the html / css using some framework already implementing the responsive and using all images in SVG, what do you think @jaydson ?

[2015-02-02 17:18] UltCombo commented on #18
@italowaxman the current flags in the site are png, but I guess it doesn't matter much whether you design them in svg or png (svg is better, of course).

[2015-02-02 23:48] jaydson commented on #49
I don't get it.
ECMA looks like Eczema? Is that?
Good or not, ECMA is the spec name.

The problem of using JavaScript™ is that JavaScript™ is a trademark from Oracle :fearful: :imp:
Yeah yeah, i know that is a lot of websites using "JavaScript", but i don't want to have any kind of issues like that.

The TLD ".today" is cool, but i dont think it will fit with the current and latest JS trends.
For

[2015-02-03 00:06] jaydson commented on #18
@italowaxman let's try to land this chinese version with somethin simpler.
Can you help us with this chinise flag?
After that we can go forward changing whatever we want :)

[2015-02-03 01:15] UltCombo commented on #49
Another issue that has been re-iterated in the [6to5 rebranding thread](https://github.com/6to5/6to5/issues/596) is that many JavaScript developers have no idea what ECMAScript is.

So, "jsrocks" sounds more accessible and clear to me.

They were "new" when they were first posted. The idea of ".today" is that we will have new content on a frequent basis.

[2015-02-03 01:38] italowaxman commented on #18
@jaydson @UltCombo Here are all the flags to the site in PNG format in the requested format. Anything else?

![english](https://cloud.githubusercontent.com/assets/2953435/6012856/62afc256-ab34-11e4-80b5-365c3a151da8.png)
![portuguese](https://cloud.githubusercontent.com/assets/2953435/6012855/62b06a6c-ab34-11e4-8c31-ffda3e1893fd.png)
![chinese](https://cloud.githubusercontent.com/assets/2953435/60

[2015-02-03 01:57] UltCombo commented on #18
Awesome work @italowaxman !

[2015-02-03 17:08] leobalter opened #50 "QA hack night?"
Can we set a QA hack night so we can sit along via some video streaming to fix some bugs and dev some wanted features? The group involved here is big, even if I'm very absent in the previous 2 months, but that would help us to address some problems in a funny way.

Feb 10th should work for me, how about you?

[2015-02-03 17:11] UltCombo commented on #50
Nice idea! :+1:

I'm just not sure about doing it in weekdays due to the timezone differences...

[2015-02-03 17:13] UltCombo commented on #50
Oh wait, @leobalter you're in Rio right? So I guess it is just @atilafassina who is in a different timezone.

[2015-02-03 17:17] leobalter commented on #50
I'm in Boston, but a hack night would be easier to me as it is earlier here. Let's see with @atilafassina if we find anything better.

[2015-02-03 17:20] UltCombo commented on #50
I usually work from 11am to 8pm UTC (GMT) on weekdays.

[2015-02-03 17:21] atilafassina commented on #50
On feb.10 I'm still 3 hours ahead.
So I probably would be able to join for some hours...

My biggest problem would be internet, since I've recently moved,
I'm still on a temporary network setup (pretty shitty, btw).
I'll try my best to do it, but you should count me as a maybe until I'm set with this...

[2015-02-03 17:23] leobalter commented on #50
If you want to set this to a weekend, Feb 21st is the next that works for me. There's no need to rush anyway.

[2015-02-03 17:50] jaydson commented on #49
So, now we have the power to change this if we want.

We have a lot of JavaScript websites out there teaching, well or not, people about JavaScript until now.
ES6Rocks mission were spread the world about JavaScript's new version, back in that day, ECMAScript 6.

But, i'm convinced that we need to find a new brand if we want to embrace the future of JavaScript.
"JSRocks" looks awesome, but i still

[2015-02-03 17:59] jaydson commented on #50
February 10 works for me after 8pm UTC (GMT).

[2015-02-03 19:05] leobalter commented on #49
JSRocks.technology \o/

2015-02-03 12:51 GMT-05:00 Jaydson Gomes <notifications@github.com>:

[2015-02-03 20:15] UltCombo commented on #50
Works for me too. :+1:

[2015-02-04 17:01] richgilbank opened #51 "Harmonic not building"
Not sure whether to leave this here or in the Harmonic repo, but with node 0.11.16 when running `harmonic run`, it's not running the server or compiling the stylus, but crashing out with:
[code]
Related: https://github.com/es6rocks/harmonic/issues/91

[2015-02-04 17:04] UltCombo commented on #51
es6rocks/harmonic#91 was a simple deprecation warning that never affected the actual code execution.

Are you using Harmonic from npm (v0.0.9) or the installing it from the master branch?
Do you experience this bug with just ES6Rocks or other projects as well?

[2015-02-04 17:18] jaydson commented on #51
Besides what @UltCombo asked, can you please try to generate a page before?
[code]
And then try to run again.
If it works, we need to investigate what is happening.

[2015-02-04 17:26] UltCombo commented on #51
@jaydson judging by the error message, I'd guess @richgilbank's local copy is missing a `src/pages/en` or `src/pages` directory. The weird thing is, [ES6Rocks does not have a src/pages/en directory](https://github.com/es6rocks/es6rocks.github.io/tree/src/src/pages).

The pages i18n hasn't landed on Harmonic yet, right? https://github.com/es6rocks/harmonic/pull/97

[2015-02-04 17:32] jaydson commented on #51
Yep, my fault we didn't landed yet #97.

[2015-02-04 17:32] UltCombo commented on #51
@jaydson even then, it is weird that @richgilbank's `harmonic build` is looking for a directory that doesn't exist and that hasn't landed on Harmonic yet.

[2015-02-04 17:34] jaydson commented on #51
Probably a bug on `0.0.9` npm's version.

[2015-02-04 17:38] UltCombo commented on #51
Yeah, that release is 4 months old. @jaydson we can start with the rapid release cycle now if you'd like.

[2015-02-04 18:01] jaydson commented on #51
Sure!

[2015-02-04 18:15] richgilbank commented on #51
This was happening on the npm release - couldn't run from master because the `dist` folder's not checked in:
[code]

On the NPM release, generating pages doesn't work, but doesn't write any error messages (except harmonic#91). Nothing in the filesystem gets generated.

[2015-02-04 18:20] UltCombo commented on #51
@richgilbank the `dist` directory is generated when you run `npm install`/`npm link`. See the [contributing guide](https://github.com/es6rocks/harmonic/blob/master/CONTRIBUTING.md#proposing-pull-requests). `=]`

Basically, what you need to run Harmonic off the master branch is:

[code]

[2015-02-04 18:31] jaydson commented on #51
@richgilbank please let us know if you're stuck in something.

[2015-02-04 18:48] UltCombo commented on #51
@jaydson I'm at work atm, if you want to deploy a new release now you can do:

[code]

The prepublish script will install the latest 6to5 version, build and run tests before deploying. Guess we can keep releasing patch versions for now and hold off 1.0.0 until we have a relatively stable API, but it is up to you.

[2015-02-05 16:52] atilafassina commented on #50
:ok_hand:  My internet will probably not be good enough by then.
But I'll give it a try!!!

[2015-02-07 01:46] felipenmoura commented on #50
Feb, 10th, then?
for me, it's ok.

[2015-02-07 02:26] felipenmoura commented on #49
sorry for getting so late into the discussion!!
I wouldn't like a name like ecma.something.
I also agree that, it might be a good opportunity to use "javascript" or "js" as reference, exactly due to its brand and recognition. I don't see a conference called "BrazilES", for example, attracting many people, while "BrazilJS" immediately reminds us about JS.

JSRocks would be amazingly good!
Notice th

[2015-02-07 02:36] felipenmoura commented on #45
IE10+ ... perhaps, and IE11+.

I said ie10 just because I believe it is working on it, right?
I built most of the html/css/js of the page(although not mentioned anywhere :p ), and worked on it, validating on a Win7 with IE10, when I had to verify IE compatibility. As far as I know, it is "ok" on ie10.
But I would agree that new bugs on ie10 should not be treated as issues, in case new problems app

[2015-02-09 13:51] jaydson commented on #50
So, let's do it?

[2015-02-09 13:52] jaydson commented on #49
jsrocks.org seems good to me.

[2015-02-09 15:15] UltCombo commented on #49
:+1:

[2015-02-09 15:19] atilafassina commented on #49
:+1:

[2015-02-09 15:52] jaydson commented on #49
So, everybody agrees? I'll buy the domain.

[2015-02-09 19:10] Semigradsky opened #52 "Looks badly (1024x600)"
In my netbook (1024x600) site looks badly:

![image](https://cloud.githubusercontent.com/assets/1198848/6113431/5a2f00f0-b0a8-11e4-8798-a761faa6af81.png)

![image](https://cloud.githubusercontent.com/assets/1198848/6113434/6694a5de-b0a8-11e4-930d-bafc449f6b3d.png)

![image](https://cloud.githubusercontent.com/assets/1198848/6113439/72022c5c-b0a8-11e4-919e-b248d867fae4.png)

[2015-02-09 19:18] jaydson commented on #52
//cc @robsongajunior can you please check this?

Thanks for pointing this @Semigradsky , we definitely need a mobile-friendly website.

[2015-02-09 22:05] UltCombo commented on #30
This should change as part of the rebranding as well. #49
The og:description should be version-agnostic, and focus on JS.

[2015-02-10 00:08] jaydson commented on #30
:+1:

[2015-02-10 03:02] felipenmoura commented on #49
me gusta!

[2015-02-10 03:04] felipenmoura commented on #52
Yep.
The mobile version of the layout was about to be designed...then we would apply the responsivity and stuff..but I am not sure how far is it.

[2015-02-10 11:44] atilafassina commented on #49
![](http://media.giphy.com/media/L9kwXOK00OJGM/giphy.gif)

[2015-02-10 12:30] jaydson commented on #49
Done.
And now what?

- Change the org name on Github or create a new one?
- Change the logo?
- ES6Rocks redirects to JSRocks?
- Change Twitter account name?

[2015-02-10 12:38] UltCombo commented on #49
Rename is okay in my opinion, GitHub will automatically put redirects in place.

I guess so, if the designers can help us on that. `=]`

Yes.

Not sure. I vote for keeping the account and just changing the name (that is, keep the current `@` handle but change the display name).

[2015-02-10 19:13] UltCombo commented on #50
looks like I'll be 30 mins or so late, as I'll be leaving the company a bit later today.

[2015-02-11 19:38] richgilbank commented on #51
Yeah it's still looking for `src/pages/en` from the looks of it, even from latest master of harmonic and es6rocks:
[code]
Also a nudge on updating the npm package :wink:

[2015-02-12 02:21] UltCombo commented on #51
Looks like I've managed to reproduce the issue -- your local copy is most likely missing the `src/pages/` directory. You can create an empty `src/pages/` directory and the Harmonic commands should work again then.

I'd say this is low priority as you're not supposed to delete the `pages` directory, but anyway, I believe we could be slightly more bulletproof by replacing mkdir with mkdirp in these

[2015-02-12 02:26] UltCombo commented on #51
Yes, we are just switching the deploy model to a rapid release process. I just want a substantial new feature to announce the first release in 4 months, then actually switch to rapid releases. For this purpose, I'm working on https://github.com/es6rocks/harmonic/issues/49 and hope to make the new release by the weekend.

[2015-02-12 23:59] richgilbank commented on #51
@UltCombo Maybe I'm missing something, but `src/pages` doesn't seem to be in the working tree here: https://github.com/es6rocks/es6rocks.github.io/tree/master/src. Multiple other files seem to be missing as well. Enough to make me thing I'm definitely missing something...

[2015-02-13 11:47] UltCombo commented on #51
@richgilbank yes, harmonic commands should be run in the [`src` branch](https://github.com/es6rocks/es6rocks.github.io/tree/src). The master branch contains the generated site, not the sources.

[2015-02-13 13:19] UltCombo opened #54 "Category tags"
Some bugs and improvement suggestions about the category tags:

## Index

- [ ] Hovering a tag makes the text unreadable. (both background and text color are orange)
- [ ] The "padding" area of the tag blocks are not clickable. That is, hovering near the border of the `li` triggers the hover effect (as if it were clickable) but only the inner-most part (the anchor) is clickable.
    I believe it w

[2015-02-13 14:22] richgilbank commented on #51
Ugh, yeah that would do it. Thanks!

[2015-02-13 14:22] #51 closed

[2015-02-13 15:43] UltCombo commented on #51
In the past we've considered merging both branches, but for some reason that didn't seem like a good idea (directory name conflicts or something). Perhaps we could rename master -> gh-pages and src -> master to make this less confusing. Or we could make the repository branches structure more clear in the readme. cc @jaydson
Anyway, I guess this is minor -- the readme's "writing an article" section

[2015-02-28 00:35] UltCombo commented on #18
Oh damn, I almost forgot about this issue again. @jaydson think we can/should release ES6Rocks' Chinese version this weekend? Or should we hold it off until the rebranding is finished?

[2015-02-28 01:46] hacke2 commented on #18
chinese version layout is messy,why?

[2015-02-28 01:49] UltCombo commented on #18
@hacke2 what do you mean by "messy", exactly? Do you have a screenshot?

[2015-02-28 01:50] hacke2 commented on #18
![qq 20150228095014](https://cloud.githubusercontent.com/assets/6399899/6424218/3f17e5d0-bf2f-11e4-9f8a-f2b3806ef8ef.png)

[2015-02-28 01:55] UltCombo commented on #18
@hacke2 oh, I see. I've already reported that issue here: #44
For the time being, the workaround is to reduce the summary text by placing `` earlier in the article's text.

[2015-02-28 01:56] hacke2 commented on #18
These are my changes or you modify？

[2015-02-28 01:59] UltCombo commented on #18
Oh I just noticed, some of the Chinese articles don't have a `` comment.
@hacke2 please add a `` comment where you see fit. Everything before `` is shown in the index page.

[2015-02-28 02:00] hacke2 commented on #18
OK

[2015-02-28 16:06] dkran commented on #49
Ultcombo, your twitter is hacked btw.

[2015-02-28 16:08] UltCombo commented on #49
@dkran how is that so? https://twitter.com/Ult_Combo I don't see anything suspicious.

[2015-02-28 16:13] dkran commented on #49
What about jsnext.org or jsnext.com

[2015-02-28 16:14] UltCombo commented on #49
@dkran my Twitter account is [@Ult_Combo](https://twitter.com/Ult_Combo). Did you mistake it by [@Ultcombo](https://twitter.com/Ultcombo)? The latter is an impersonator, I've never made such account.

[2015-02-28 16:15] dkran commented on #49
@UltCombo https://github.com/es6rocks/es6rocks.github.io/blob/master/2015/01/temporal-dead-zone-tdz-demystified/index.html line 94.  You linked to the wrong account then.

[2015-02-28 16:16] UltCombo commented on #49
@dkran oh damn, thanks!

[2015-02-28 16:17] dkran commented on #49
no problem man, I was a single mom lookin' to make 6,500 mo from home anyway.

[2015-02-28 16:27] UltCombo commented on #49
Hahah. :smile: Fixed by dde2d7e400ba8df872947f8f9358cdc35e1f41ae / 5a948458e86f687fe7a855b62b92074a3428dbb3

[2015-03-02 02:48] UltCombo commented on #24
Another issue has arisen in this [Twitter discussion](https://twitter.com/adamdicarlo/status/572202415832756224) -- arrow functions' scopes don't have an `arguments` binding, it must resolve to a binding in an outer scope. (reference: see note in [14.2.15](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-arrow-function-definitions-runtime-semantics-evaluation))

[2015-03-02 16:04] adamdicarlo commented on #24
Maybe an example like this?

[code]

And some change to the text would be nice, like

Although I also like your describing it as "arrow functions' scopes don't have an `arguments` binding."

[2015-03-02 17:50] UltCombo commented on #24
Lexically bound is ok, in my opinion. Feel free to send a PR.  `=]`

[2015-03-02 18:26] felipenmoura commented on #24
Good, I like both fixes(the text and the example) :)

[2015-03-04 12:52] italowaxman commented on #18
You need something more related to design for this Chinese version?

[2015-03-04 13:42] UltCombo commented on #18
I believe this is everything for now, thanks @italowaxman. :smile:

The Chinene version's template still reads in English (this is the same problem as the current [PT-BR version](http://es6rocks.com/pt-br/), but I guess template internationalization is not a priority at the moment.

@jaydson can we release the Chinese version now?

[2015-03-05 03:56] jaydson commented on #18
I'm back (from my vacation).
For sure we can release the Chinese version @UltCombo.
I confess i'm not fully aware of what we need to do for this.

[2015-03-05 12:31] UltCombo commented on #18
Welcome back. :smile:

@jaydson I believe we just need to `harmonic build` and push the `public` directory to the master branch, as usual. Or did you mean something else?

So far I've been removing the `cn` language from the builds as to not publish the Chinese version before it was ready, but it should build by default when you run `harmonic build`/`harmonic run`.

[2015-03-13 00:34] italowaxman commented on #49
After talking with the @jaydson  and @UltCombo , I learned of the change project name and decided to make the change the logo. I kept the same concept, in a comparative picture of the new logo with the old version.

![captura de tela 2015-03-12 as 21 24 28](https://cloud.githubusercontent.com/assets/2953435/6631074/6299b86a-c8ff-11e4-9a17-29dfbd411df4.png)

[2015-03-13 00:42] UltCombo commented on #49
@italowaxman awesome work!
The "J" being larger than the "S" makes the logo more exotic, less generic. Not sure if that's good or bad, @jaydson can have the final say. :smile:

[2015-03-13 00:54] UltCombo commented on #49
@italowaxman is it just me, or in your logo design the "J" somehow resembles a [music note](https://www.google.com.br/search?q=music+note&es_sm=93&source=lnms&tbm=isch&sa=X&ei=KzQCVZfkEMiWapnxgaAC&ved=0CAcQ_AUoAQ&biw=1920&bih=979)? Perhaps it is an idea we could investigate.

[2015-03-14 04:20] felipenmoura commented on #49
I liked the logo, but I couldn't see a music note there...although I think it might, indeed, be an idea to be checked out.

[2015-03-14 14:51] robsongajunior commented on #52
@jaydson I will check this. i'm sorry for a long time without answer

[2015-03-15 13:22] italowaxman commented on #49
Regarding the musical note, I thought of keeping the brand JS Rocks with the initial concept of the ES6 Rocks just changing the name. But the harmonic maybe implement this idea of musical note keeping a little concept of what already exists today. What do you think?

[2015-03-15 13:36] UltCombo commented on #49
Yeah, the music note was just a random idea. It is probably better to keep just one of our projects' logos with that concept.

[2015-03-15 13:47] italowaxman commented on #49
Which of the two versions of the new logo JS rocks you prefer?

![Uploading Captura de Tela 2015-03-15 às 10.55.13.png . . .]()

[2015-03-15 13:48] italowaxman commented on #49
Which of the two versions of the new logo JS rocks you prefer?

![captura de tela 2015-03-15 as 10 55 13](https://cloud.githubusercontent.com/assets/2953435/6656218/c05422da-cb00-11e4-92dd-ba95b4be6c49.png)

[2015-03-15 13:51] UltCombo commented on #49
@italowaxman I personally like the second one (right) -- perhaps the "JS" could be just a *tad bit little* less bold?

[2015-03-15 13:58] italowaxman commented on #49
How about this?

![captura de tela 2015-03-15 as 11 07 17](https://cloud.githubusercontent.com/assets/2953435/6656251/3827df80-cb02-11e4-9f6d-cdddeff25d6e.png)

[2015-03-15 14:03] UltCombo commented on #49
Perfect, IMHO. :smiley:
Let's wait for the others' feedback.
@jaydson @felipenmoura @atilafassina @jcemer @robsongajunior

[2015-03-15 14:25] italowaxman commented on #49
Nice! Awaiting feedback to proceed with the site restructure.

[2015-03-23 12:11] italowaxman commented on #49
The new structure of the site is done and @robsongajunior is already implementing the Harmonic.

[2015-03-25 12:14] Danguilherme commented on #52
Just found ES6 Rocks website from [an awesome article](http://rmurphey.com/blog/2015/03/23/a-baseline-for-front-end-developers-2015/) and couldn't believe it was made by Brazilians and I didn't know it! As I opened it on mobile, the website layout was all messed up (like the picture from the issue), with "hidden" content (like the categories).

As I am trying to improve at web design (aka CSS and

[2015-03-25 12:20] italowaxman commented on #52
@Danguilherme  @Semigradsky we are already working on a new version that responsiveness and behave well in several resolutions including mobile screens, soon re-launch the project with all fixed it.

[2015-03-25 19:37] jaydson commented on #52
You are welcome to help @Danguilherme
As @italowaxman said, we're working on the new version right now.
@robsongajunior is working on the Harmonic integration, and soon we'll have it live.
Please keep in touch and we'll love your help.
ASAP the new version will be on github in a new branch, so you'll be able to hack.

[2015-03-25 19:39] jaydson commented on #49
I missed that.
The last logo looks awesome @italowaxman

[2015-03-26 13:42] Danguilherme commented on #52
Great! Will be glad to help.

[2015-03-29 03:33] felipenmoura commented on #49
f*ing awesome :)

[2015-04-02 13:53] jaydson opened #57 "JSRocks rebranding"
Things to do before merging:
- [x] @robsongajunior must to confirm if the PR is ok, with the latest resources (posts, etc) updated
We just need to use Harmonic beta (external themes support) and change the `template` property on `harmonic.json`
- [x] @jaydson and @UltCombo must test this branch
This is not necessary anymore
- [x] We need to rename the org to `jsrocks`
- [x] Change the repository n

[2015-04-02 16:57] UltCombo commented on #57
Perhaps make both domains point to the same IP for the time being?

[2015-04-02 16:58] UltCombo commented on #57
Oh wait, we are using GitHub pages so it might be a bit more complicated.

[2015-04-02 20:11] jonfriskics opened #58 "Footer text typo"
`s/Creattive/Creative`

![es6_rocks](https://cloud.githubusercontent.com/assets/381284/6972606/ed48ce48-d952-11e4-8002-cc9a99612172.png)

[2015-04-02 21:11] UltCombo commented on #58
Thanks for the report!
I guess this will be fixed when we deploy the new template though.

[2015-04-05 16:15] UltCombo commented on #57
We need a new slogan/description as well. The current one reads:

Perhaps we could use:

Or more broadly:

[2015-04-07 00:06] robsongajunior commented on #57
I like.
Can I write this description in the next PR to [harmonic-theme-jsrocks](https://github.com/es6rocks/harmonic-theme-jsrocks)?

@jaydson?

[2015-04-16 12:42] robsongajunior commented on #52
Can we close this Issue?
- Broken page will solved at new #JSROCKS

[2015-04-16 12:47] UltCombo commented on #52
@robsongajunior I guess we can close this once we publish the new site (hopefully tonight). :smiley:

[2015-04-16 19:59] jaydson commented on #52
yay

[2015-04-17 04:25] #58 closed

[2015-04-19 21:27] #18 closed

[2015-04-19 21:40] UltCombo commented on #18
@hacke2 the Chinese version is now up -- http://jsrocks.org/cn/
I'm sorry for being so forgetful, I've been really busy with both real life and the ES6Rocks projects were (and still are) undergoing major changes -- you see, the site's name and domain have already changed. `;)`

[2015-04-19 21:44] UltCombo commented on #52
Fixed with the new theme. http://jsrocks.org/
Congratz everyone for the awesome work! @italowaxman @robsongajunior @jaydson

[2015-04-19 21:44] #52 closed

[2015-04-19 22:00] UltCombo commented on #38
We have `og` image and description in the new theme.
But the share buttons don't have a default text, is this a regression or new bug? @robsongajunior

[2015-04-19 22:09] UltCombo opened #59 "Replace all instances of "6to5" with "Babel""
The posts seem dated/unmaintained when they read "6to5", as 6to5 has been rebranded to Babel a while ago.
I believe we should keep the posts up to date and use the current name, and also check whether there are any outdated usage snippets and fix them.
WDYT? @jaydson

[2015-04-19 22:28] UltCombo opened #60 "Templates i18n"
If you open the [Portuguese version of JS Rocks](jsrocks.org/pt-br/), you will see the templates' strings are hardcoded in English. The same is true for all other languages (e.g. Chinese).

What's the best approach to internationalizing the templates? Should we do it in the front-end, or have i18n support built-in in Harmonic's theme processing?

Doing it in the front-end may affect SEO negatively

[2015-04-19 22:31] #45 closed

[2015-04-19 22:32] UltCombo commented on #54
obsolete as per new theme.

[2015-04-19 22:32] #54 closed

[2015-04-19 22:32] UltCombo commented on #30
fixed in the new theme.

[2015-04-19 22:32] #30 closed

[2015-04-19 22:36] UltCombo commented on #50
Looks like ad hoc chats and conferences work best for us.

[2015-04-19 22:36] #50 closed

[2015-04-20 13:14] hacke2 commented on #18
oh my god!Thanks!Hope that more jser to participate in Chinese!

[2015-04-20 17:39] robsongajunior commented on #18
Wooow, I Will Take a look for correction categories link

[2015-04-20 17:43] UltCombo commented on #18
@robsongajunior or we can translate the categories to English for the time being. The other Chinese articles already have tags in English.

[2015-04-20 18:02] robsongajunior commented on #18
to translate to EN we doesn't need do nothing, EN is default when language is not found.

[2015-04-20 18:18] UltCombo commented on #18
@robsongajunior I meant to use English categories in the Chinese version. Aren't you talking about the Chinese categories?

[2015-04-21 00:02] robsongajunior commented on #38
hmmmmmm, it's possible @UltCombo, I will take a look and do correction

[2015-04-21 08:33] robsongajunior commented on #49
finished issue?

[2015-04-21 17:33] UltCombo commented on #49
@robsongajunior Well, @jaydson and I are still sorting out some details. But I believe we can center the discussion at #57 now.

[2015-04-21 17:33] #49 closed

[2015-04-23 22:59] ftonato opened #61 "Minify css and compress images?"
**CSS** using [csscompressor](http://csscompressor.com)

| Input | Output | You save | URL |
| --- | --- | --- | --- |
| 2781 bytes | 1715 bytes | 62.16% | [responsive.css](http://jsrocks.org/css/responsive.css) |
| 20716 bytes | 13904 bytes | 48.99% | [animations.css](http://jsrocks.org/css/animations.css) |

**Images** using [compressor.io](https://compressor.io/)

| Input | Output | You save |

[2015-04-24 00:20] UltCombo commented on #61
Nice!
I'm wondering whether we should add a gruntfile to [harmonic-theme-jsrocks](https://github.com/JSRocksHQ/harmonic-theme-jsrocks).
The CSS will soon be generated using Stylus, so I guess we can just enable Stylus output compressing in Harmonic.
The images could be PR'd directly to harmonic-theme-jsrocks.
cc @jaydson @robsongajunior

[2015-04-24 00:30] ftonato commented on #61
I think it's a good idea!

[2015-04-24 02:07] morvanabonin commented on #61
I like the idea about grunt or gulp to harmonic-theme-jsrocks.

[2015-04-24 02:09] ftonato commented on #61
@morvanabonin  +1

[2015-04-24 16:31] robsongajunior commented on #61
I see no sense because we will have build logic in back end and front end. I think just one need be responsible for this.

[2015-04-24 16:36] robsongajunior commented on #61
by @UltCombo

I see no sense because we will have build logic in back end and front end. I think just one need be responsible for this.

Grunt/Gulp or implement this enhancement in Harmonic?

[2015-04-24 16:43] UltCombo commented on #61
@robsongajunior We're planning to move preprocessing to Harmonic plugins, but the plugin architecture is not implemented yet. Putting it in the core would be a temporary solution.
A task runner could be a better solution in the long run, but that also means one extra build step in each build/deploy.

[2015-04-27 02:08] jaydson commented on #61
Some people suggest me this:
`harmonic init` can also have a runner option (Grunt, Gulp, whatever).
So the generated website can have it's own runner.
It seems like a good approach, so we can even start the runner with the `harmonic build` command.

[2015-04-27 02:57] UltCombo commented on #61
@jaydson That seems like a good idea at first, but I'm not sure. Let's think about the possible use cases.

The user may want the task runner to be executed before and/or after `harmonic build`. The user may also want to execute specific task(s) before/after `harmonic build`. Providing configuration options for all these cases seem to complicate more than help.

What I mean is, I'm not seeing how

[2015-04-27 13:26] jaydson commented on #61
:+1:

But i agree that simply running both `harmonic` and `grunt/gulp` its kinda easy.

[2015-04-27 13:33] UltCombo commented on #61
There are some advantages to having `beforeBuild`/`afterBuild`:

- The user cannot "forget" to run those commands once they're set in the `harmonic.json`, this prevents human errors.
- Once we have watch-build-reload in Harmonic (JSRocksHQ/harmonic#118), the `beforeBuild`/`afterBuild` commands will be seamlessly integrated in the automated build process.

[2015-04-29 01:58] jaydson commented on #59
That's a good idea.

[2015-05-11 01:56] jaydson opened #62 "Translate article to chinese"
Translate new article `how I'm using es6 modules in production` to Chinese.

//cc @hacke2

[2015-05-11 02:50] hacke2 commented on #62
:ok_hand:I will finish that in this week

[2015-05-11 02:52] jaydson commented on #62
Awesome! Thanks @hacke2

[2015-05-16 14:31] hacke2 commented on #62
finished :kissing:

[2015-05-16 15:17] hacke2 commented on #62
how do I join JS Rocks organization :question:

[2015-05-17 21:08] jaydson commented on #62
You're already a member :)

[2015-05-17 21:46] jaydson commented on #62
Done #63

[2015-05-17 21:46] #62 closed

[2015-05-18 00:38] UltCombo commented on #62
@hacke2 when we added you to the organization, GitHub sent an email to you to confirm that you really want to be part of the organization. Please check your e-mail.
I'm not sure if China's firewall blocked the email or something else.

[2015-05-18 01:11] hacke2 commented on #62
The firewall has the world famous...coder use VPN to access Google in china

[2015-05-18 01:32] UltCombo commented on #62
Welcome to the org! :smile:

[2015-05-18 01:59] ftonato opened #64 "Sharing on Twitter is not working"
See image below!

![Example](http://imageshack.com/a/img538/4527/r98KsV.png)

[2015-05-18 02:01] jaydson commented on #64
Thanks @ftonato !
Hey @robsongajunior , take a look.

[2015-05-18 02:05] #64 closed

[2015-05-18 02:18] UltCombo commented on #64
I made an [emergency fix](https://github.com/JSRocksHQ/harmonic-theme-jsrocks/compare/98150658ba2c275eaa5ebb161ffa112e79dc886e...db9dd32f731568c27dc91f5d7ee69bfe120dd99e), it is now live at <http://jsrocks.org>.
Make sure to hard-refresh the page if you have caching issues.

We would still like to improve those default share texts, see #39

[2015-05-18 02:24] jaydson commented on #64
:+1:

[2015-05-18 13:02] felipenmoura opened #65 "Typo in an article"
In this article, there is a typo in Portuguese: Pŕoximos instead of Próximos
http://jsrocks.org/pt-br/2015/05/how-i-m-using-es6-modules-in-production/

[2015-05-18 13:21] UltCombo commented on #65
Nice catch!
@jaydson I wonder how you managed to accentuate an `r`, hahah. :stuck_out_tongue_winking_eye: (joking)

By the way, @felipenmoura you have full access to the repository so you can fix those typos through the GitHub editor interface. Also, I've implemented automatic deploys through Travis CI, so whenever you commit or merge a PR into the `src` branch it will be automatically deployed to

[2015-05-18 13:28] #65 closed

[2015-05-18 13:43] jaydson commented on #65
I'm a Ĺíńúx úśéŕ

[2015-05-18 13:48] jcemer commented on #65
+1 for automatically deploy.

[2015-05-18 13:49] jaydson commented on #65
Automatically deploy is already working @jcemer

[2015-05-18 13:57] jcemer commented on #65
I know! :)

[2015-05-18 14:31] jaydson commented on #65
:)

[2015-05-18 15:48] ftonato opened #66 "Page "authors" not working"
`/authors` don't reference no page!
[code]

[2015-05-18 16:03] UltCombo commented on #66
Good catch! Please take a look @robsongajunior.
We could link it to [CONTRIBUTORS.md](https://github.com/JSRocksHQ/jsrockshq.github.io/blob/master/CONTRIBUTORS.md), or remove that `<link rel="author">` and use a [humans.txt](http://humanstxt.org/).
/cc @jaydson @felipenmoura

[2015-05-18 16:06] UltCombo commented on #66
Or we can have the best of the two worlds, rename `CONTRIBUTORS.md` to `humans.txt` and fix the `rel="author"` to point to it:

[code]

[2015-05-18 16:35] jaydson commented on #66
:+1: humans.txt

[2015-05-18 22:40] robsongajunior commented on #66
Good catch!

I like what @jaydson has said

I will take a look.

[2015-05-18 22:42] UltCombo commented on #66
@robsongajunior It would be nice if you can follow the recommendations at http://humanstxt.org/

[2015-05-18 22:43] UltCombo commented on #66
(Accidental close, oops.)

[2015-05-18 22:45] robsongajunior commented on #66
huaehuhauhuaehuahe

Nice @UltCombo, I will follow __humanstxt__ recomendations.

[2015-05-19 02:45] robsongajunior commented on #66
https://github.com/JSRocksHQ/harmonic-theme-jsrocks/pull/32

At harmonic run command, he doesn't copy humans.txt to public paste.
@UltCombo, can you test for us?

[2015-05-23 01:46] robsongajunior commented on #66
Fixed

[2015-05-23 01:50] UltCombo commented on #66
@robsongajunior you can. :smile:

[2015-05-23 02:11] #66 closed

[2015-05-29 01:57] felipenmoura commented on #65
ok, gonna do that next time :)

[2015-06-07 09:24] #57 closed

[2015-10-06 18:39] ftonato opened #69 "The categories links are on top of each other, in Other Posts"
I opened the post [JavaScript ♥ Unicode](http://jsrocks.org/2014/10/javascript-unicode/) and then I noticed that in the "others posts" section, the categories links were on top of each other, as the following image shows:

![error-01](https://cloud.githubusercontent.com/assets/5417662/10318549/51abb5c8-6c40-11e5-896b-159abdc74665.png)

[2015-10-06 18:53] UltCombo commented on #69
Changing `.item-tag-post`'s `margin-top: -8px` to `margin-top: 4px` seems to fix this.

[2015-10-17 10:00] Isk1n commented on #69
You should also limit size of short description (div.intro-post), like this http://codepen.io/martinwolf/pen/qlFdp

[2015-10-17 11:04] robsongajunior commented on #69
Sorry, today at night, I'll take a look this.

[2015-10-17 12:52] Isk1n commented on #69
This http://codepen.io/Isk1n/pen/PPOWMM may help with tags

[2015-10-18 02:14] robsongajunior commented on #69
Rebuilding it's needed

[2015-10-18 02:22] robsongajunior commented on #69
__Rebuild status__ - Done
http://jsrocks.org/2014/10/javascript-unicode/

Thanks @ftonato

[2015-10-18 02:22] #69 closed

[2015-12-30 22:02] abdulhannanali opened #71 "Tutorial on Configuring BabelJS for ES6"
Hi! I have written a tutorial about configuring BabelJS for ES6. It's an article I have written as a task for Google CodeIn contest I am participating in. I will be very happy and it'll give me a motivation boost if JSRocks post it on it's website. I will be contributing more to JSRocks in the future since it's run by so awesome people. I came to know JSRocks from @UltCombo profile. I will post he

[2015-12-30 22:02] abdulhannanali commented on #71
This is the task I've written it as a part of

[2015-12-30 22:47] abdulhannanali commented on #71
@UltCombo I hope you give it a consideration. Please!!! :smile:

[2015-12-31 00:03] abdulhannanali commented on #71
@UltCombo You can check out the first draft of this article here https://github.com/abdulhannanali/babel-configuration-tutorial/blob/master/tutorial.md :+1:

[2015-12-31 00:58] UltCombo commented on #71
Hello, @abdulhannanali. Your tutorial looks very nice!  :smile:
I'd love to have it posted on JS Rocks. Can you send a pull request? Here's the [general directions](https://github.com/JSRocksHQ/jsrockshq.github.io/tree/master#writing-an-article).

I've noticed one or two issues that need fixing. I believe the command `npm install --save-dev es-2015 stage-0` should be `npm install --save-dev babel-

[2015-12-31 01:06] abdulhannanali commented on #71
Thank you very much @UltCombo it's Very appreciated. I am working to open a PR right away. I've corrected the said changes. Thanks for pointing them out. :smile:

[2016-01-04 13:10] abdulhannanali commented on #71
@UltCombo Thank you for publishing I am closing this now

[2016-01-04 13:10] #71 closed

[2016-01-06 17:45] ftonato opened #74 "Profile pictures"
We could use the [Gravatar](https://en.gravatar.com/) or native upload like the @felipenmoura [see here](http://jsrocks.org/avatars/felipenmoura.png).

The `error` can be seen in the posts of @jaydson that use an [image of Twitter](https://pbs.twimg.com/profile_images/453720347620032512/UM2nE21c_400x400.jpeg)

See the page breaking in image below:

![breaking](https://cloud.githubusercontent.com/a

[2016-01-06 18:04] robsongajunior commented on #74
Yeah, we can use. Do you want open a PR

[2016-01-12 13:19] ftonato commented on #74
@robsongajunior Do you suggest I send a PR containing @jaydson's profile image?

[2016-01-13 16:11] jaydson commented on #74
Thanks @ftonato.
It was fixed by my last commit.

[2016-01-13 16:11] #74 closed

[2016-01-13 17:53] ftonato commented on #74
The same `error` :skull: it happens in the posts of @UltCombo that use [this image](https://pbs.twimg.com/profile_images/490627147963187200/2BiH3pv4.png)

In the below picture
![error](https://cloud.githubusercontent.com/assets/5417662/12302680/95ebeb84-ba0d-11e5-91a4-6d3c21d471d2.png)

[2016-01-13 18:03] UltCombo commented on #74
Oh, guess I can change mine to use Gravatar as well.
Thanks for reporting, I'll fix that when I get home.

[2016-01-13 18:05] ftonato commented on #74
:+1:

[2016-01-13 23:36] UltCombo commented on #74
My author picture was showing correctly here, but in any case, I've just updated it to avoid future breakage—hotlinking from Twitter is not safe, I've switched the picture to Gravatar.

[2016-01-14 01:39] ftonato commented on #74
:+1:

[2016-03-15 15:25] clovisdasilvaneto opened #77 "Permission to share"
I am in the final stages of developing an application that brings together various news related to the front-end world.

I would like to share your posts if you allow me.

Thanks

[2016-03-15 16:46] UltCombo commented on #77
That sounds great. :smiley:
By the way, the whole JS Rocks site is licensed under [MIT](https://github.com/JSRocksHQ/jsrockshq.github.io/blob/master/LICENSE.md), so you technically don't need to ask for permission. :smile_cat:

[2016-06-26 08:07] c0debreaker opened #78 "Configuring-babel-6-for-node-js link is dead"
Hi folks,

This link is dead - http://jsrocks.org/2016/01/configuring-babel-6-for-node-js
I can open other post fine.

Thanks!
V1rt

[2016-06-26 19:13] UltCombo commented on #78
Hello, thanks for reporting!

Do you mean you cannot access this link? http://jsrocks.org/2016/01/configuring-babel-6-for-node-js

It seems to be working fine from my machine:

![](http://i.imgur.com/ff1NH2D.png)

Maybe try opening the link in incognito/private mode or clear your cache to see if it helps.

[2016-06-26 19:20] montogeek commented on #78
It works on my machine too

[2016-06-27 04:52] c0debreaker commented on #78
The culprit is my other wifi access point. I have firewall rules that when it sees a string, it will block the connection. I used my other access point and it's good now. Sorry for the wrong info.

[2016-06-27 04:52] #78 closed, assigned to nobody

[2016-10-31 02:59] #77 closed, assigned to nobody

[2016-10-31 03:00] clovisdasilvaneto commented on #77
Thank's man :D

[2017-03-02 01:25] felipebernardes opened #79 "jsrocks.org is out"
I've been GoDaddie'd:
![](http://i.imgur.com/ImIDMV1.png)

[2017-03-05 18:11] UltCombo commented on #79
I've reported this to @jaydson a few days ago as well. Looks like the domain has not been renewed.

[2017-08-04 15:15] ftonato commented on #79
jsrocks.org has been **discontinued**?

/cc @UltCombo @jaydson

[2017-09-11 02:55] UltCombo commented on #79
[JSRocks.org](http://jsrocks.org) has been up and running shortly after this was reported, closing the issue.

[2017-09-11 02:55] #79 closed, assigned to nobody